.genericDivBottom{
  margin-bottom:20px;
}
.alignLeft{
  text-align: left;
}
.genericDivTop{
  margin-top:20px;
}
.flexContainerCenter{
	display:flex;

	flex-direction: row;
	align-items: center;
   justify-content: center;
   position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.genericImageCircle{
  height:100px;
  width:100px;
  border-radius: 100px;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
