body{
	background: url('../../images/background2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#flexContainer{
	display:flex;

	flex-direction: row;
	align-items: center;
   justify-content: center;
   position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
#regAdminForm{
	width:500px;
	background-color: rgba(181,189,197,0.5);
	padding:30px;
}
#adminInfo{
	display: flex;
	align-items: left;
	justify-content: center;
	flex-flow: column wrap;
	align-content: stretch;
	height:100px;
}
